---
---
@import "{{ site.theme }}";

#head {
  font-size: 18px;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  padding-right: 50px;
}

@media (max-width: 200px) {
  #head {
    display: none;
  }
}
