body {
    background-color: lightgrey;
    font-family: 'Ubuntu', sans-serif;
}

#head {
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #484848;
    color: white;
}

.menu-right {
    float: right;
    margin: 10px;
    text-decoration: none;
    margin-top: 24px;
}

.menu-right:visited {
    color: white;
}

.menu-right:hover {
    color: #D86338;
}

.menu-right:active {
    color: white;
}

.space {
    width: 100%;
    height: 50px;
}

#title {
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
}

#content {
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
}

#content a {
    color: #D86338;
    text-decoration: none;
}

#content a:visited {
    color: #D86338;
}

#content a:hover {
    color: #35ACD7;
}

#content a:active {
    color: #D86338;
}
